<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>register</servlet-name>
    <servlet-class>com.challenge.register.servlet.H_Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>match</servlet-name>
    <servlet-class>com.challenge.teamfind.servlet.MatchTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>match</servlet-name>
    <url-pattern>/Match</url-pattern>
  </servlet-mapping>
  
</web-app>